[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ArArRedux"]
	path = ArArRedux
	url = https://github.com/pvermees/ararredux
[submodule "IsoplotR"]
	path = IsoplotR
	url = https://github.com/pvermees/isoplotr
[submodule "IsoplotRgui"]
	path = IsoplotRgui
	url = https://github.com/pvermees/isoplotrgui
[submodule "geostats"]
	path = geostats
	url = https://github.com/cran/geostats
[submodule "provenance"]
	path = provenance
	url = https://github.com/pvermees/provenance
